* {font-family:Noto Sans, sans-serif}

header{
	margin: 0px 0px;
	top: 0;
	width: 100%;
}
header img{
	margin: 0px 0px;
	vertical-align: top;
}
header div{
	background-color: white;
}
nav{
	width: 100%;
	margin:5px auto;
	background: cadetblue;
	color: darkgreen;
	border-radius: 20px;
	
}
nav ul{
	list-style: none;
	margin: 0px auto;
	position: relative;
}
.menu li{
	display: inline-block;
	position: relative;
}
.menu li a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
	font-family: Arial;
}
.menu li a:hover{
	color: orange;
	transition: all 0.3s
}
.submenu{
	position:absolute;
	background-color: cadetblue;
	display: none;
	opacity: 0.8;
	border-radius: 8px;
}
.submenu li a{
	display: block;
	padding: 10px;
	text-decoration: none;
}
.menu li:hover .submenu{
	display: block;
}

main{
	margin: 5px auto;
	background-color:white;
}
section{
	margin: 10px;
	display: flex;
	flex-direction: column;
}

div #representativo{
	width: 800px;
	height: 400px;
}

section .parrafo1 img{
	float: right;
	margin: 20px;
	padding: 15px;
  -moz-box-shadow: inset 10px 10px 50px #fff;
  -webkit-box-shadow: inset 10px 10px 50px #fff;
  box-shadow: inset 10px 10px 50px #fff;
}
section .parrafo1 h1{
	margin: 20px;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: green;
	font-size: 18pt;
	text-align: center;
}
section .parrafo1 p{
	text-align: justify;
	margin: 20px;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 13pt;
}
section .parrafo2{ 
	background: goldenrod;
}

section .parrafo2 h2{
	text-align: center;
	padding: 20px;
	margin-top: 60px;
	color:white;
}

.parrafo2 a{
	text-align: center;
	color:red;
	margin-left: 23%;
	font-size: 30px;
	
}

section .parrafo2 p{
	text-align: center;
	padding: 20px;
	margin-top: 60px;
	color:white;
}

section .parrafo2 video{
	width: 35%;
	float: right;
	margin: 20px 10px 5px 20px;
	padding: 20px 10px 20px 0px;
}

/*--------------------------*/
footer {
	background-color: darkgreen;	
	color: white;
}


footer ul {
	display:inline-block;
	margin-left: 100px;
}
.link {
	display:inline-block;
}

footer p a {
	color: white;
	text-decoration: none;	
}

footer ul a {
	color: white;
	text-decoration: none;
}

footer p {
	text-align: center
}

.redes {
	text-align: center;
	
}
footer div img{
	width: 25px;
	background-color: white;
}

footer .logofinal {
	padding-left: 12px;
	float: left;
	width: 250px;
	height: 120px;
	opacity: 0.7;
	border-radius: 15%;
}
