/* CSS Document */
* {font-family:Noto Sans, sans-serif}
 

header{
	margin: 0px 0px;
	top: 0;
	width: 100%;
}
header img{
	margin: 0px 0px;
	vertical-align: top;
}
header div{
	background-color: white;
}
nav{
	width: 100%;
	margin:5px auto;
	background: cadetblue;
	color: cadetblue;
	border-radius: 20px;
	
}
nav ul{
	list-style: none;
	margin: 0px auto;
	position: relative;
}
.menu li{
	display: inline-block;
	position: relative;
}
.menu li a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
	font-family: Arial;
}
.menu li a:hover{
	color: orange;
	transition: all 0.3s
}
.submenu{
	position:absolute;
	background-color: cadetblue;
	display: none;
	opacity: 0.8;
	border-radius: 8px;
}
.submenu li a{
	display: block;
	padding: 10px;
	text-decoration: none;
}
.menu li:hover .submenu{
	display: block;
}

.main{
    width: 100%;
	margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

main a{
	margin-top: 20px;
}

/*---------------*/
.seccion1{
    margin-top: 60px;
    width: 100%;
    height: 520px;
   	display: flex;
	margin-top: 5PX;
	margin-bottom: 5PX;
}
.seccion1 iframe{
   margin-top: 10px;
   margin-left: 10px;
   margin-right: 10px;
   margin-bottom: 10px;
}

.ubicacion h1{
	font-size: 20px;
	font-family: 'arial';
	font-weight: bold;
	margin-left: 10px;
}

.celular{
  	background-color: #383b41;
	width: 97%;
    height:450px;
    margin: auto;
    margin-top: 10px;
	text-align: center;

}

.contacto h1{
    font-size: 40px;
    padding-top: 20px;
	padding-left: 0px;
	margin-bottom: 10px;
    color: white;
    width: 100%;
    font-family: 'Goldman';
}

.colo{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 16px;
   color: goldenrod;
   font-size: 40px;
}

.contacto p{
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    padding-top: 5px;
    font-family: 'Play', sans-serif;
    font-size: 15px;
    width: 70%;
    text-align: center;
}

.contacto{
    width: 58%;
    height: 480px;
    margin: auto;
	margin-bottom: 10px;
}

/*---------------*/

footer {
	background-color: darkgreen;	
	color: white;
}


footer ul {
	display:inline-block;
	margin-left: 100px;
}
.link {
	display:inline-block;
}

footer p a {
	color: white;
	text-decoration: none;	
}

footer ul a {
	color: white;
	text-decoration: none;
}

footer p {
	text-align: center;
	
	
}

.redes {
	text-align: center;
	
}
footer div img{
	width: 25px;
	background-color: white;
}

footer .logofinal {
	padding-left: 12px;
	float: left;
	width: 250px;
	height: 120px;
	opacity: 0.7;
	border-radius: 15%;
}




