* {font-family:Noto Sans, sans-serif}

header{
	margin: 0px 0px;
	top: 0;
	width: 100%;
}
header img{
	margin: 0px 0px;
	vertical-align: top;
}
header div{
	background-color: white;
}
nav{
	width: 100%;
	margin:5px auto;
	background: cadetblue;
	color: darkgreen;
	border-radius: 20px;
	
}
nav ul{
	list-style: none;
	margin: 0px auto;
	position: relative;
}
.menu li{
	display: inline-block;
	position: relative;
}
.menu li a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
	font-family: Arial;
}
.menu li a:hover{
	color: orange;
	transition: all 0.3s
}
.submenu{
	position:absolute;
	background-color: cadetblue;
	display: none;
	opacity: 0.8;
	border-radius: 8px;
}
.submenu li a{
	display: block;
	padding: 10px;
	text-decoration: none;
}
.menu li:hover .submenu{
	display: block;
}

main{
	margin: 5px auto;
	background-color:white;
}
section{
	margin: 10px;
	display: flex;
	flex-direction: column;
}

div #extincion{
	width: 800px;
	height: 400px;
}

section .parrafo1 img{
	float: right;
	margin: 10px;
	padding: 15px;
  -moz-box-shadow: inset 10px 10px 50px #fff;
  -webkit-box-shadow: inset 10px 10px 50px #fff;
  box-shadow: inset 10px 10px 50px #fff;
}
section .parrafo1 h1{
	padding: 10px;
	color: goldenrod;
	font-size: 18pt;
	text-align: center;
	font: bold;
}
section .parrafo1 p{
	text-align: justify;
	padding: 20px;
	font-size: 13pt;
}

h2{
	color: green;
}
 
section .parrafo2{ 
	background: goldenrod;
}

.cuadro{
	width: 95%;
	margin-left: 30px;
	margin-right: 30px;
	display: flex;
	flex-direction: row;
	
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    width: 250px;
	height: 650px;
    margin: auto;
	text-align: center;
	background-color: green;
	color: white;
	
}

figcaption {
    color: goldenrod;
    font:bold;
    padding: 3px;
    text-align: center;
}

.imgall{
	margin-left: 15px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 45px;
	box-shadow: 10px 10px 20px;
	width: 220px;
    height: 150px;
}


section .parrafo2 p{
	text-align: center;
	margin-top: 80px;
	margin-bottom: 60px;
	margin-left: 10px;
	margin-right: 20px;
	font-size: 20pt;
	color:white;
}
section .parrafo2 video{
	width: 40%;
	float: left;
	margin: 15px 15px 0px 15px;
	padding: 1px 80px 15px;
}
section .parrafo3 h1{
	margin-left:15px;
	padding: 5px;
	color: green;
	font-size: 16pt;
}

section .parrafo3{
	margin: 5px 0px;
}

section .parrafo3 img{
	width:30%;
	margin: 20px;
	padding: 10px;
	box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
	float: right;
}	

section .parrafo3 p{
	width:800px;
	text-align: justify;
	padding:5px;
	margin:10px;
	font-size: 12pt;
}

footer {
	background-color: darkgreen;	
	color: white;
}


footer ul {
	display:inline-block;
	margin-left: 100px;
}
.link {
	display:inline-block;
}

footer p a {
	color: white;
	text-decoration: none;	
}

footer ul a {
	color: white;
	text-decoration: none;
}

footer p {
	text-align: center;
}

.redes {
	text-align: center;
	
}
footer div img{
	width: 25px;
	background-color: white;
}

footer .logofinal {
	padding-left: 12px;
	float: left;
	width: 250px;
	height: 120px;
	opacity: 0.7;
	border-radius: 15%;
}
